@page "/Registro"


<PageTitle>Register</PageTitle>

<body style="background-color:#706993;">
    <EditForm model="0">

   

    <div class="container" style="background-color:#D8E1E9">
        <div>

            <div class="card-header d-flex justify-content-center">
                <h3><b>Registro ocupaciones</b></h3>
            </div>

            <div class="form-group">
                <label for="idOP"><b>OcupaciónID:</b></label>
                <div class="input-group col-5 mb-5">
                    <input type="text" id="idOP" class="form-control">
                    <button class="btn btn-primary " type="button"><b><img src="https://cdn-icons-png.flaticon.com/512/149/149852.png" style="height:18px;"> Buscar</b></button>

                </div>

                <label for="Desk"><b>Descripción:</b></label>
                <div>
                    <input type="text" id="Desk" class="form-control">
                </div>

                <label for="Desk"><b>Salario:</b></label>
                <div>
                    <input type="text" id="Desk" class="form-control">
                </div>


            </div>

            <div class="card-footer d-flex justify-content-center">
                <div class="row">
                    <div class="btn-group">
                        <button class="btn btn-primary" type="button"><img src="https://cdn-icons-png.flaticon.com/512/1155/1155623.png" style="height:18px;"><b> Nuevo</b></button>
                        <button class="btn btn-success" type="button"><img src="https://cdn-icons-png.flaticon.com/512/376/376218.png" style="height:18px;"><b>  Guardar</b></button>
                        <button class="btn btn-danger" type="button"><img src="https://cdn-icons-png.flaticon.com/512/542/542724.png" style="height:18px;"><b> Eliminar</b></button>

                    </div>
                </div>

            </div>

        </div>
    </div>


</EditForm>

</body>





@code {

}
